
#wait {
	position : absolute ; 
	height : 100px; 
	display : block; 
	text-align : center ; 
}

#calendar { 
	text-align : center ; 
	display : none;
	position : relative;
	top : 0;
	width : 100%;
}

/*	======================================================================================================================
	Entête (flèche mois précédent + nom / date + flèche mois suivant)
	====================================================================================================================== */

#entete { 
	font-size : 30px; 
	background-color : #c03d20;
	color: #FFFFFF;
	width : 100%;
	height: 45px;
}

#prevMonth { 
	padding-left: 10%;
	padding-right: 10%;
	cursor : pointer ;
}

#nextMonth { 
	padding-left: 10%;
	padding-right: 10%;
	cursor : pointer ;
}


/*	======================================================================================================================
	Agenda
	====================================================================================================================== */

#agenda { 
	position: fixed;
	width : 100%;
	height: 75%;
	display : table ; 
	clear : both ; 
	border-collapse: separate; 
	border-spacing: 1px 1px; 
	margin : auto;
}

.ligne  { 
	display : table-row;
}

.ligne:nth-child(odd){
	background-color: #F0F0F0;
}

.ligne:nth-child(even) {
	background-color : #F0F0F0 ;
}

.enteteLigne { 
	display : table-cell ;
	vertical-align: middle; 
	valign:middle; /* IE 9 */
	text-align : center ; 
}

.enteteColonne { 
	display : table-cell ;  
	vertical-align: middle;
	valign:middle; /* IE 9 */
	text-align : center ; 
}

.cellule { 
	display : table-cell ; 
	vertical-align: middle;
	valign:middle; /* IE 9 */
	text-align : center ; 
	min-height:auto; 
	min-width:auto;
	margin : 2px;
	padding-right : 10px;
}




[activite=repos] {
	background-color: rgba(226, 226, 226, 0.8) !important;
}

[toDay] {
	background-color: rgba(241, 247, 84, 0.4) !important;
}

[color=colorligne] {
	background-color: rgba(0, 0, 255, 0.3) !important;
}

[color=colorcolonne] {
	background-color: rgba(0, 0, 255, 0.3) !important;
}

/* Ajout du logo calendrier */
[activite=travail]:before {
	content: "\f073";
	font-size: 1.3em;
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
	text-decoration: inherit;
	color: #C03D20;
	position: absolute;
}

a.delEvent {
	cursor: pointer;
}